#background_div{
    /*background: url("/static/backgrounds/side.jpeg") no-repeat;*/
    background-color: black;
    position: sticky;
    z-index: 98;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#content{
    position: fixed;
    z-index: 0;
    top: 0;
    margin: 80px;
}