@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/static/backgrounds/generalBackground2.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_title{
    color: white;
}


#login_form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.5);
    box-shadow: 0 0 10px 2px white;
    border-radius: 20px;
    width: 40%;
    height: 40%;
}

label{
    font-size: 20px;
    color: #d7d7d7;
    font-weight: 900;
    padding: 3px;
    /*text-shadow: 1px 1px #ffffff;*/
}

input {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
    font-size: 20px;
    font-family: inherit;
    background-color: rgba(121, 121, 121, 0);
    color: #d7d7d7;
    font-weight: 600;
}

input::placeholder {
    color: rgba(190, 190, 190, 0.7);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}


#username_div, #password_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#login_button, #register{
  display: block;
  float: right;
    margin: 0.5% 90px 0.5% 0.5%;
    width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  font-family: sans-serif;
  text-decoration: none;
    border-radius: 15px;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

#login_button span, #register span{
    position: relative;
    text-align: center;
    z-index: 2;
}

#login_button:after, #register:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #383838;
    border-radius: 12px;
  transition: all .4s;
}

#login_button:hover, #register:hover{
  color: #fff;
}

#login_button:hover:after, #register:hover:after{
  width: 100%;
}

#register{
    display: block;
    margin-left: 90px;
    background-color: rgba(239, 239, 239, 0.81);
    width: 60%;
}

#buttons_div{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 50px;
}
