<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elysium - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/navbar_style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base_template.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    {% block style %}

    {% endblock %}
</head>
<body id="background_div">
{#    <div ></div>#}

    {% include 'navbar.html' %}

    <div id="content">
        <p style="font-size: 52px;color: white">sadgregtef
          fs<br>df <br>s<br>
        de<br>f <br>s<br>
         f<br>
        se<br>f<br> s<br>
        <br>e<br>f<br>
        s<br>ef<br>
        se<br>
         fse<br>
         fs<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
         ef
        </p>
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>