<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elysium - Login</title>
    <script src="{{ url_for('static', filename='scripts/API.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/login.js') }}" defer></script>
</head>
<body>
    <form id="login_form" action="/login-request" method="post">
        <h1 id="error_message" style="color: red;visibility: hidden" ></h1>
        <div id="username_div">
            <label for="username">Username*</label>
            <input type="text" name="username" id="username" placeholder="enter your username">
        </div>
        <div id="password_div">
            <label for="password">Password*</label>
            <input type="password" name="password" id="password" placeholder="enter your password">
        </div>
        <button type="submit" id="login_button">Login</button>
    </form>
</body>
</html>