<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='scripts/API.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/supermarketProductsPage.mjs') }}" defer></script>
</head>
<body>

<h1>{{ supermarket.name }}</h1>
<h3>{{ supermarket.address }}</h3>
    <table>
        <thead>
            <th>Numele Produsului</th>
            <th>Cantitate</th>
            <th>Data Expirarii</th>
            <th>Cantitate Dorita</th>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.expire_date }}</td>
                <td><input type="number" class="quantity_fields" id="{{ product.product_id }}"></td>
                <td><button class="submit_buttons">Submit</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>







</body>
</html>