<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#{% if session['user_status'] == 'organisation' %}#}
<h1>{{ supermarket.name }}</h1>
<h3>{{ supermarket.address }}</h3>
    <table>
        <thead>
            <th>Numele Produsului</th>
            <th>Cantitate</th>
            <th>Data Expirarii</th>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.expire_date }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{#    {% endif %}#}

{#{% if session['user_status'] == 'provider'%}#}
{#    {% for product in products%}#}
{#<li>{{ product.name }}</li>#}
{#    {% endif %}#}
{#{% endif %}#}
{##}
{##}


</body>
</html>